extends layout

block content
  .page-header
    h3 Content Creation Form

  form.sloka-form(method='POST')
      .form-group.row
          input(type='hidden', name='_csrf', value=_csrf)
          .col-sm-4
            label(for='sloka_num') Sloka Number
          |     
          .col-sm-8
            input#sloka_num.form-control(type='text', name='sloka_num', placeholder='Alphanumeric input')
          |   
          .form-group
            label(for='sloka_text') Sloka text
            |     
            textarea#sloka_text.form-control(name='sloka_text', placeholder='Devanagari text', rows='4')
          |   
          fieldset
            legend Padavibhaga
            |      
            h4  Word - 1
            |     
            .form-group
              input(hidden='', name='padavibhaga[0][sl_num]', value='1')
              |       
              .form-group.row
                .col-sm-4
                  label(for='pada') Pada
                |     
                .col-sm-8
                  input#pada.form-control(type='text', name='padavibhaga[0][pada]', placeholder='Devanagari')
              |     
              .form-group.row.form-check.form-check-inline
                .col-sm-6
                  input#sub_or_dhatu.form-check-input(type='radio', name='padavibhaga[0][sub_or_dhatu]', value='Subanta' checked)
                  |           
                  label.form-check-label(for='sub_or_dhatu')
                  | Subanta
                  input#anta.form-control(type='text', name='padavibhaga[0][anta]', placeholder='Anta')
                  |
                  input#pada.form-control(type='text', name='padavibhaga[0][linga]', placeholder='Linga')
                  |
                  input#pada.form-control(type='text', name='padavibhaga[0][sub_vachana]', placeholder='Vachana')
                |         
                .form-group-row.form-check.form-check-inline
                 .col-sm-6
                  input#sub_or_dhatu.form-check-input(type='radio', name='padavibhaga[0][sub_or_dhatu]', value='Dhatu')
                  |           
                  label.form-check-label(for='sub_or_dhatu')
                  | Dhatu
                  input#anta.form-control(type='text', name='padavibhaga[0][lakara]', placeholder='Lakara')
                  |
                  input#pada.form-control(type='text', name='padavibhaga[0][purusha]', placeholder='Purusha')
                  |
                  input#pada.form-control(type='text', name='padavibhaga[0][dhatu_vachana]', placeholder='Vachana')
                  |   
                  input#dhatu_meaning.form-control(type='text', name='padavibhaga[0][dhatu_meaning]', placeholder='Meaning of Dhatu', rows='4')
                  |
                  .form-check.form-check-inline
                   .col-sm-6
                    input#atmane_or_parasmai.form-check-input(type='radio', name='padavibhaga[0][atmane_or_parasmai]', value='Atmanepadi')
                    |           
                    label.form-check-label(for='Atmanepadi')
                    | Atmanepadi
                  |
                  .form-check.form-check-inline
                   .col-sm-6
                    input#atmane_or_parasmai.form-check-input(type='radio', name='padavibhaga[0][atmane_or_parasmai]', value='Parasmaipadi')
                    |           
                    label.form-check-label(for='Parasmaipadi')
                    | Parasmaipadi
                  |
                  .form-check.form-check-inline
                   .col-sm-4
                    input#set_vet_anit.form-check-input(type='radio', name='padavibhaga[0][set_vet_anit]', value='Set')
                    |           
                    label.form-check-label(for='Set')
                    | Set
                  |
                  .form-check.form-check-inline
                   .col-sm-4
                    input#set_vet_anit.form-check-input(type='radio', name='padavibhaga[0][set_vet_anit]', value='Vet')
                    |           
                    label.form-check-label(for='Vet')
                    | Vet
                  |
                  .form-check.form-check-inline
                   .col-sm-4
                    input#set_vet_anit.form-check-input(type='radio', name='padavibhaga[0][set_vet_anit]', value='Anit')
                    |           
                    label.form-check-label(for='Anit')
                    | Anit
                  |
                  .form-group.row
                    .col-sm-4
                      label(for='specific_type') Specific type
                    |     
                    .col-sm-8
                      select.form-control(name='padavibhaga[0][specific_type]')
                        option kevala tinanta
                        |             
                        option karmani
                        |             
                        option Nich
                        |           
                        option San
                        |           
                        option Nichyanluk
                        |           
                        option yan
                        |           
                        option other
                    |
                .form-group
                  label(for='word_synonyms') Synonyms of the word (Devanagari)
                  |     
                  input#word_synonyms.form-control(type='text', name='padavibhaga[0][word_synonyms][0]', placeholder='Synonym 1')
                  |   
                  input#word_synonyms.form-control(type='text', name='padavibhaga[0][word_synonyms][1]', placeholder='Synonym 2')
                  |   
                  input#word_synonyms.form-control(type='text', name='padavibhaga[0][word_synonyms][2]', placeholder='Synonym 3')
                  |   
                  input#slword_synonyms.form-control(type='text', name='padavibhaga[0][word_synonyms][3]', placeholder='Synonym 4')
                  |   
                  input#word_synonyms.form-control(type='text', name='padavibhaga[0][word_synonyms][4]', placeholder='Synonym 5')
                  |
                .form-group.row
                  .col-sm-4
                    label(for='v_v_bhava') Visheshana Visheshya Bhava
                  |    
                  .col-sm-8
                    input#v_v_bhava.form-control(type='text', name='padavibhaga[0][v_v_bhava]')
                    |
                hr
                .form-group.row
                  .col-sm-4
                    label(for='literal_meaning') Literal Meaning of the verse
                  |     
                  .col-sm-8
                    textarea#literal_meaning.form-control(name='literal_meaning[sanskrit]', placeholder='Devanagari' rows='4')
                    |
                    textarea#literal_meaning.form-control(type='text', name='literal_meaning[english]', placeholder='English' rows='4')
                    |
                    textarea#literal_meaning.form-control(type='text', name='literal_meaning[kannada]', placeholder='Kannada' rows='4')
                    |
                    textarea#literal_meaning.form-control(type='text', name='literal_meaning[hindi]', placeholder='Hindi' rows='4')
                  |
                
            |   
            button.btn.btn-primary(type='submit') Submit
            #result
