extends layout

block content
  h1 Ramayana Sangraha
  p.lead Slokas
  hr
  .row
    for sloka in slokas
      h4
        span= sloka.sloka_num 
        nbsp . 
        span= sloka.sloka_text 
      h3 Padavibhaga 
        ul(type=none)
          li= sloka.padavibhaga[pada] 
          
          
          