extends layout

block content
  h1 Ramayana Sangraha
  p.lead Slokas
  hr
  .row
    .col-sm-6
      h2 Login
      p Login to create content.
      p
        a.btn.btn-default(href='/login', role='button') Login »
    .col-sm-6
      h2 Register
      p If you don't have an account yet, register. 
      p
        a.btn.btn-default(href='/signup', role='button') Register »