extends layout

block content
  h1 Ramayana Sangraha
  hr
  .row
    .col-sm-12
      h2 Login
      p Form submitted successfully
      p
        a.btn.btn-default(href='/form', role='button') Add another sloka »
  .row 
    .col-sm-6
      sloka.sloka_text